body {
    background-image: url("../img/login_bc.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    width: 70%;
    height: 70%;
    background-color: rgba(238, 238, 238, 0.8);
    margin-top: 8rem;
}

.label-container {
    display: flex;
    flex-direction: column;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.textarea {
    width: 60rem;
    height: 3rem;
    border: none;
}

.inputarea-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 140%;
}

.submit-knop{
    background-color: #FF00E6;
    border: none;
    width: 12rem;
    height: 3rem;
    color: white;
    margin: 5rem;
    font-size: 140%;
}
 
.submit-knop:hover{
    background-color: hsl(306, 100%, 40%);
}


.submit-knop:active{
    background-color: hsl(306, 100%, 30%);
}
