Body{
    background-color: black;
}

.navBar{
    display: flex;
    flex-direction: row;
    margin: 1.5rem;
    justify-content: space-between;
}

.navBarLogo{
    max-width: 10rem;
}

.navBarRight{
    display: flex;
    gap: 2rem;
}

.searchBar{
    background-color: white;
    display: flex;
    padding: 0.8rem;
    border-radius: 1rem;
    gap: 1rem;
}

.searchBarTextarea{
    border: none;
    resize: none;
}