body {
  background-color: black;
  width: 100%;
}

.omschrijving-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.omschrijving {
  width: 85rem;
  position: relative;
  display: flex;
  background-color: #eeee;
  height: 65rem;
}

.image-container {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  height: 26rem;
  margin: 3.2rem;
}

.omschrijving p {
  position: relative;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
}

.omschrijving h2 {
  position: relative;
  font-size: 2.5rem;
  font-family: sans-serif;
  font-weight: 300;
  margin: 0;
}

.content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 4.8rem;
}

.spacer {
  margin-bottom: 1.6rem;
}

.spacer p {
  margin-bottom: 0.64rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #ff01e6;
  border: none;
  height: 5rem;
  width: 24rem;
  position: relative;
  color: white;
  font-size: 2rem;
}

.hoeveel-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hoeveelContent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8rem;
}

.hoeveel {
  display: flex;
  align-items: center;
}

.hoeveel h2 {
  position: relative;
}

.hoeveel p {
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button1 {
  height: 6rem;
  width: 6rem;
  font-size: 2.5rem;
  border: none;
  border-right: 0.1rem solid;
  background-color: white;
}

.button1:hover {
  height: 6rem;
  width: 6rem;
  font-size: 2.5rem;
  border: none;
  border-right: 0.1rem solid;
  background-color: #d9d9d9;
  cursor: pointer;
}

.button2 {
  height: 6rem;
  width: 6rem;
  font-size: 5rem;
  border: none;
  background-color: white;
}

.button2:focus {
  height: 6rem;
  width: 6rem;
  font-size: 2.5rem;
  border: none;
  background-color: #d9d9d9;
  cursor: pointer;
}

.button:focus {
  background-color: white;
  color: #ff01e6;
  border: 2px solid #ff01e6;
  transition: 0.5s;
  cursor: pointer;
}

@media only screen and (min-width: 1101px) {
  .omschrijving-container {
    height: 50%;
  }

  body {
    overflow: hidden;
  }
}

@media only screen and (max-width: 900px) {
  .omschrijving {
    width: 60rem;
    height: 55rem;
  }

  .omschrijving p {
    font-size: 1.2rem;
  }

  .omschrijving h2 {
    font-size: 1.8rem;
  }
}


@media only screen and (max-width: 650px) {
  .omschrijving {
    width: 35rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
  }

  .omschrijving p {
    font-size: 1rem;
  }

  .omschrijving h2 {
    font-size: 1.5rem;
  }

  .image-container img {
    height: 14rem;
    margin: 1.2rem;
  }

  .button-container {
    justify-content:flex-start
  }

  .button {
    padding: 0;
  }

  .hoeveelContent-container {
    margin-right: 1rem;

  }
}