nav {
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 40px;
}

nav h1 {
  font-size: 3.2rem;
  font-weight: 100;
}

nav a {
  width: 35%;
  height: 50px;
  background-color: #78a083;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  cursor: pointer;
}

nav a:hover {
  background-color: hsl(137, 17%, 45%);
}
nav a:active {
  background-color: hsl(137, 17%, 35%);
}

nav form {
  width: 35%;
  height: 40px;
}

nav form .id-zoek {
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-image: url(../img/loop.png);
  background-size: auto 70%;
  font-size: 1.6rem;
  text-indent: 45px;
  color: #000;
  background-position: 10px 50%;
  background-repeat: no-repeat;
}

.table-wrapper {
  width: 100%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.table-wrapper .table {
  width: 90%;
  border-spacing: 0;
}

.table-wrapper .table thead {
  margin-bottom: 10px;
}

.table-wrapper .table thead th {
  color: #000 !important;
  text-align: left;
  padding: 20px;
}

.table-wrapper .table thead th p {
  color: #000 !important;
}

.table-wrapper .table tbody tr {
  height: 60px;
  background-color: #fff;
  outline: #000 solid 1px;
}

.table-wrapper .table tbody tr td {
  padding: 20px;
}

.table-wrapper .table tbody tr td p {
  color: #000 !important;
  font-size: 1.8rem;
}

.table-wrapper .table tbody tr .button-w {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-wrapper .table tbody tr td a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper .table tbody tr td a img {
  width: 3rem;
  height: 5rem;
}
.table-wrapper .table tbody tr td a:hover {
  cursor: pointer;
}
